*{
  padding:0 0;
  margin:0 0;
}
body{
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}





h3{
  padding : 0;
  margin : 0;
}
nav{
  background-color:rgba(255, 255, 255, 0.8);
  position:fixed;
  width : 100%;
  font-family : Futura, sans-serif;
  padding:0;
  margin-top:0;
  top:0;
  z-index : 2;
  border-bottom: 0.35vh solid rgba(255, 40, 40, 0.255);
  font-size:2.5vh;
}
ul{
  list-style-type : none;
}
nav ul li{
  background-color:lightgray;
  break-after:always;
}
nav ul li a{
  text-decoration : none;
  color : black;
  float : left;
}
#icon:hover, #hidden a:hover{
  animation : change;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;
}
@keyframes change {
  from {background-color: lightgray;color : black;}
  to {background-color: rgba(155,155,155,0.2);color : royalblue;}
}
#button{
  display:none;
}
#hidden{
display:block;
}
@media only screen and (min-width:768px){
#hidden{
  display:block;
}
ul li a{
  padding : 2vh 2vw 2vh 2vw; 
}
}
@media only screen and (max-width: 768px) {
  nav, a, button #button{
    display:inline !important;
  }
  a, button{
    font-size:5vh;
    text-align:center;
  }
  #icon, #button{
    padding : 2vh 2vw 2vh 2vw;
  } 
  #hidden {
    display:none;
  }
  #hidden li a{
    /*padding-right : 50%;*/
    
    /*from #hidden*/
    padding:auto;
    width:100%;
    padding-top:2vh;
    padding-bottom:2vh;
    border-top:1.5px solid rgba(255, 40, 40, 0.255);
  }
 #button{
    display: block;
    margin-left:auto;
    padding:inherit 2vw inherit 2vw;
  }
}
  
@media only screen and (min-width: 1200px) {
  #hidden{
    display:block;
  }
  ul li a{
    padding : 2vh 3vw 2vh 3vw;
  }    
}
#navicon{
height: 5vh;
}



main ul{
  text-align: left;
  margin: 0 10%;
  font-size:2.5vh;
  margin-bottom: 3vh;
}

main{
  width:100%;
  background-color:rgba(255, 255, 255, 0.25);
  position :absolute;
  z-index:0;
}
h1,h2,h4,h5,p{
  text-align:center;
  margin-left:4vw;
  margin-top:0vh;
  margin-right: 4vw;
  margin-bottom: 4vh;

}
h1,h2,h4,h5{
  font-family:'Lucida Sans', sans-serif;
  text-align:center;
}
#intro{
  background-color:rgba(255, 255, 255, 0.05);
}
 #intro h1{
  font-size:5vh;
}
h2{
  margin-top:none;
  font-size:4vh;
  font-family:'Lucida Console';
  color : rgb(255, 40, 40);
}
h4{
font-size:3vh;
color : rgb(0, 29, 82);
margin-top:6vh;
}
h5{
  font-size:2.5vh;
  color:rgb(0, 68, 59);
  margin-top:2.5vh;
}
section{
  background-color:rgba(255, 255, 255, 0.6);
}
section:nth-child(even){
  background-color:rgba(227, 227, 227, 0.6);
}
#intro{
  padding-top:50vh;
  padding-bottom:50vh;
}
section{
  border-bottom: 0.5vh solid rgba(255, 40, 40, 0.255);
  padding-top:15vh;
  padding-bottom:15vh;
  font-weight:bold;
}
section p{
  font-size : 2.5vh;
  font-family:'Segoe UI', sans-serif;
}
main a{
  text-decoration : none;
  color:inherit;
}
#button:hover{
  animation : change3;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;
}
@keyframes change3 {
  from {background-color: lightgray;color : black;}
  to {background-color: rgba(155,155,155,0.2);color : royalblue;}
}
section a:hover{
  animation : change4;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;

}
@keyframes change4 {
  from {color : black;}
  to {color : royalblue;}
}
table{
  background-color:rgba(155,155,155,0.2);
  text-align : center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10vh;
  font-size:2vh;
  border:1px solid rgba(255, 40, 40, 0.255);
}
th,td{
  padding:1.5vh 2.25vw 1.5vh 2.25vw;
  font-family: 'Segoe UI', sans-serif;
}
h4{
  margin-bottom: 1vh;
}
#skillsp{
  margin-bottom:0.5vh;
}
ol{
  list-style-type:none;
}
#internal{
  margin-bottom:5vh;
}
footer{
  background-color:rgba(255, 40, 40, 0.255);
  bottom:0;
  padding:2em 2em;
}
footer > *{
  margin:0 0;
}
#ICON{
  height:5vh;
  border:none;
  border-radius: 0.5em 0.5em;
}
#ICON:hover{
  animation : IChange;
  animation-duration : 0.5s;
  animation-fill-mode: forwards;
}
@keyframes IChange{
  from{background-color:auto;}
  to{background-color: aliceblue;}
}
#contacts{
  text-align:center;
  border-bottom:none;
  padding-top:10vh;
  padding-bottom:5vh;
  margin-bottom:none;
}
#flex-parent{
  margin-top:5vh;
  display:flex;
}
#flex{
  flex:1;
}
#h22{
  margin-top:16vh;
}